.clients__section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients__list {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .clients__logo {
    fill: var(--grey);
    transition: 250ms fill var(--cubic);
  }
  .clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 170px;
    height: 92px;
    border: 1px solid var(--grey);
  
    border-radius: 4px;
    color: var(--grey);
  
    transition: 250ms border-color var(--cubic);
  }
  .clients__link:hover .clients__logo,
.clients__link:focus .clients__logo {
  fill: var(--accent-color);
}
.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--accent-color);
}
